nav ul{
    flex-direction: column;
    align-items: center;
    /* margin: 0px 0px; */
    padding: 0px;
}
nav ul li{
    margin: 7px 0px;
}
div.row{
    flex-direction: column;
    align-items: center;
    width: 100vw;
    flex-wrap: nowrap
}
div.row div{
    padding: 0px;
    margin: 0px;
    /* width: 80%; */
}
div.row * {
    text-align: center;
}
#subscribe-inputs{
    flex-direction: column;
}
#subscribe-inputs input[type="text"]{
    width: 100%;
}
#cr{
    flex-direction: column;
    align-items: center;
}
div#cr *{
    width: 100%;
}
footer{
    /* padding: 0px; */
}
div#logo-footer img{
    /* border: 2px solid yellow; */
    width: 150px;
    /* height: 300px; */
}
div#logo-footer{
    width: fit-content;
    margin-bottom: 25px;
}
div#linksdiv{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    /* padding: 0px; */
    /* justify-items: space-around; */
    justify-content: space-around;
    /* width: 100vw; */
    max-width: 100vw;
    /* display: none; */
}
div#linksdiv div{
    width: max-content;
    /* display: inline; */
}
div#formdiv{
    width: 100vw;
    padding: 0px 14px;
}
div#subscribe-inputs button{
    width: 100px;
    margin: auto;
}
